<footer>
  <div class="large__footer">
    <div class="large__footer-left">
      <div class="menu">
        <p class="menu__title">{{ linklists.shops.title }}</p>
        <ul class="menu__linklist">
          {% for link in linklists.shops.links %}
            <li class="menu__linklist-link">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="menu">
        <p class="menu__title">{{ linklists.information.title }}</p>
        <ul class="menu__linklist">
          {% for link in linklists.information.links %}
            <li class="menu__linklist-link">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="menu">
        <p class="menu__title">{{ linklists.customer-service.title }}</p>
        <ul class="menu__linklist">
          {% for link in linklists.customer-service.links %}
            <li class="menu__linklist-link">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="large__footer-right">
      <div class="social__media">
        <p class="social__media-title">Stay Connected</p>
        <ul class="social__media-icons">
          <li class="icon">
            <i class="fa-brands fa-facebook-f"></i>
          </li>
          <li class="icon">
            <i class="fa-brands fa-twitter"></i>
          </li>
          <li class="icon">
            <i class="fa-brands fa-instagram"></i>
          </li>
          <li class="icon">
            <i class="fa-brands fa-pinterest"></i>
          </li>
          <li class="icon">
            <i class="fa-solid fa-rss"></i>
          </li>
        </ul>
      </div>

      <div class="subscribe">
        <p class="subscribe-title">Subscribe <span>in</span> our newsletter</p>
        <form class="subscribe-email">
          <input type="text" placeholder="Enter Your Email Address">
          <button type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
  <div class="small__footer"></div>
</footer>