<footer>
  <div class="large__footer">
    <div class="large__footer-left">
      <div class="menu">
        <p class="menu__title">{{ linklists.shops.title }}</p>
        <ul class="menu__linklist">
          {% for link in linklists.shops.links %}
            <li class="menu__linklist-link">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="menu">
        <p class="menu__title">{{ linklists.information.title }}</p>
        <ul class="menu__linklist">
          {% for link in linklists.information.links %}
            <li class="menu__linklist-link">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="menu">
        <p class="menu__title">{{ linklists.customer-service.title }}</p>
        <ul class="menu__linklist">
          {% for link in linklists.customer-service.links %}
            <li class="menu__linklist-link">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="large__footer-right">
      <div class="social__media">
        <p class="social__media-title">Stay Connected</p>
        <ul class="social__media-icons">
          <li class="icon">
            <i class="fa-brands fa-facebook-f"></i>
          </li>
          <li class="icon">
            <i class="fa-brands fa-twitter"></i>
          </li>
          <li class="icon">
            <i class="fa-brands fa-instagram"></i>
          </li>
          <li class="icon">
            <i class="fa-brands fa-pinterest"></i>
          </li>
          <li class="icon">
            <i class="fa-solid fa-rss"></i>
          </li>
        </ul>
      </div>

      <div class="subscribe">
        <p class="subscribe-title">Subscribe <span>in</span> our newsletter</p>
        <form class="subscribe-email">
          <input type="text" placeholder="Enter Your Email Address">
          <button type="submit">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
  <div class="small__footer">
    <div class="small__footer-breakline">
      <hr>
      <div class="polygon"></div>
    </div>
    <div class="small__footer-content">
      <div class="content__left">
        <div class="content__left-text">
          <p>{{ section.settings.copyright }}</p>
          <p>{{ section.settings.rights_reserved }}</p>
          <p>{{ section.settings.designed_by }}</p>
        </div>
        <div class="content__left-images">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when "credit_card_logo" %}
                {{ block.settings.image | img_url: 'medium' | img_tag }}
              {% else %}
            {% endcase %}
          {% endfor %}
        </div>
      </div>
      <div class="content__right">
        <button class="scroll__up" id="scroll_up_button" onclick="topFunction()">{{ section.settings.top_button_image | img_url: 'medium' | img_tag }}</button>
      </div>
    </div>
  </div>
</footer>

<script>
  let scroll_up_button = document.getElementById("scroll_up_button");

  window.onscroll = function() {
    scrollFunction()
  };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      scroll_up_button.style.display = "block";
    } else {
      scroll_up_button.style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>

{% schema %}
  {
    "name": "footer",
    "tag": "section",
    "class": "footer",
    "settings": [
      {
        "type": "text",
        "id": "copyright",
        "label": "Copyright",
        "default": "Ⓒ 2015 Shophia Fashion Store Shopify."
      },
      {
        "type": "text",
        "id": "rights_reserved",
        "label": "Rights Reserved",
        "default": "All Rights Reserved. E-commerce Software by Shopify."
      },
      {
        "type": "text",
        "id": "designed_by",
        "label": "Designed By",
        "default": "Designed by MoccaLabs.com"
      },
      {
        "type": "image_picker",
        "id": "top_button_image",
        "label": "Top Button Image"
      }
    ],
    "blocks": [
      {
        "name": "credit_card_logo",
        "type": "credit_card_logo",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "footer",
        "blocks": [
          {
            "type": "credit_card_logo"
          },
          {
            "type": "credit_card_logo"
          },
          {
            "type": "credit_card_logo"
          },
          {
            "type": "credit_card_logo"
          }
        ]
      }
    ]
  }
{% endschema %}