<div class="handpicked">
  <div class="handpicked__title">
    <span class="line"></span>
    <span class="diamond"></span>
    <h3>{{ section.settings.title }}</h3>
    <span class="diamond"></span>
    <span class="line"></span>
  </div>

  <div class="handpicked__grid">
    <div class="handpicked__grid-cell product" id="cell-1">
      {% for product in collections['paris-hilton'].products %}
        {% if product.handle == 'womens-leather-boots' %}
          {{ product.featured_image | img_url: 'master' | img_tag }}
          <div class="plus-sign">
            <span></span>
            <span></span>
          </div>
          <a href="#">
            <button>Shop Now</button>
          </a>
          <div class="transparent-overlay"></div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="handpicked__grid-cell promo__1" id="cell-2">
      <img src="{{ section.settings.promo_1_image | img_url: 'master' }}">
      <p>{{ section.settings.promo_1_title }}</p>
      <p>{{ section.settings.promo_1_subtitle }}</p>
    </div>
    <div class="handpicked__grid-cell collection" id="cell-3">
      {{ collections['paris-hilton'].image | img_url: 'master' | img_tag }}
      <p>{{ collections['paris-hilton'].title }}</p>
      <p>Collection</p>
    </div>
    <div class="handpicked__grid-cell promo__2" id="cell-4">
      <img src="{{ section.settings.promo_2_image | img_url: 'master' }}">
      <p>{{ section.settings.promo_2_title }}</p>
    </div>
    <div class="handpicked__grid-cell product" id="cell-5">
      {% for product in collections['paris-hilton'].products %}
        {% if product.handle == 'luggage-tag' %}
          {{ product.featured_image | img_url: 'master' | img_tag }}
          <div class="plus-sign">
            <span></span>
            <span></span>
          </div>
          <a href="#">
            <button>Shop Now</button>
          </a>
          <div class="transparent-overlay"></div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "handpicked",
    "tag": "section",
    "class": "handpicked",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "HandPicked"
      },
      {
        "type": "image_picker",
        "id": "promo_1_image",
        "label": "Promo 1 Image"
      },
      {
        "type": "text",
        "id": "promo_1_title",
        "label": "Promo 1 Title",
        "default": "Discount 30%"
      },
      {
        "type": "text",
        "id": "promo_1_subtitle",
        "label": "Promo 1 Subtitle",
        "default": "Jewellery Product"
      },

      {
        "type": "image_picker",
        "id": "promo_2_image",
        "label": "Promo 2 Image"
      },
      {
        "type": "text",
        "id": "promo_2_title",
        "label": "Promo 2 Title",
        "default": "50% Off"
      }
    ]
  }
{% endschema %}