<script>
  /* Set the width of the side navigation to 250px */
  function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
  }

  /* Set the width of the side navigation to 0 */
  function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
  }
</script>

<header>
  <div class="mobile__header">
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      {% for link in linklists.main-menu.links %}
        {% assign child_list_handle = link.title | handleize %}
        {% if linklists[child_list_handle].links != blank %}
          <a href="{{ link.url }}">{{ link.title }}</a>
          [{% for childlink in linklists[child_list_handle].links %}
            <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
          {% endfor %}]
        {% else %}
          <a href="{{ link.url }}">{{ link.title }}</a>
        {% endif %}
      {% endfor %}
    </div>
    <div class="mobile__header-hamburger" onclick="openNav()">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="mobile__header-title">
      <img src="{{ section.settings.logo | img_url: 'small' }}" />
    </div>
    <div class="social__currency">
      <div class="ultimate-currency"></div>
    </div>
  </div>

  <div class="desktop__header">
    <div class="top__header">
      <div class="top__header-phone">
        <img src="{{ section.settings.phone_icon | img_url: 'medium' }}" class="phone__icon">
        <p class="phone__number">Call {{ section.settings.phone_number }}</p>
      </div>

      <div class="top__header-customer">
        <p class="customer__welcome">{{ section.settings.welcome_message }}</p>
        <span> | </span>
        <p class="customer__account">{{ section.settings.my_account }}</p>
        <span> | </span>
        <p class="customer__wishlist">{{ section.settings.my_wishlist }}</p>
        <span> | </span>
        <p class="customer__login">{{ section.settings.login }}</p>
      </div>
    </div>

    <hr>

    <div class="bottom__header">
      <div class="bottom__header-top">
        <div class="bottom__header-navigation">
          {% for link in linklists.main-menu.links %}
            {% assign child_list_handle = link.title | handleize %}
            {% if linklists[child_list_handle].links != blank %}
              <a href="{{ link.url }}">{{ link.title }}</a>
              [{% for childlink in linklists[child_list_handle].links %}
                <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
              {% endfor %}]
            {% else %}
              <a href="{{ link.url }}">{{ link.title }}</a>
            {% endif %}
          {% endfor %}
        </div>
        <div class="bottom__header-title">
          <img src="{{ section.settings.logo | img_url: 'medium' }}" />
        </div>
        <div class="bottom__header-social">
          <div class="social__buttons">
            <div class="social__buttons-button">
              <i class="fa-brands fa-facebook-f"></i>
            </div>
            <div class="social__buttons-button">
              <i class="fa-brands fa-twitter"></i>
            </div>
            <div class="social__buttons-button">
              <i class="fa-brands fa-pinterest"></i>
            </div>
            <div class="social__buttons-button">
              <i class="fa-brands fa-instagram"></i>
            </div>
          </div>
          <div class="social__currency">
            <div class="ultimate-currency"></div>
          </div>
        </div>
      </div>
      <div class="bottom__header-bottom">
        <div class="bottom__header-shape"></div>
      </div>
    </div>      
  </div>
</header>

{% schema %}
  {
    "name": "Header",
    "tag": "section",
    "class": "Header",
    "limit": 1,
    "settings": [
      {
        "type": "image_picker",
        "id": "phone_icon",
        "label": "Phone Icon"
      },
      {
        "type": "text",
        "id": "phone_number",
        "label": "Phone Number",
        "default": "+001 555 801"
      },
      {
        "type": "text",
        "id": "welcome_message",
        "label": "Welcome Message",
        "default": "Welcome MSG!"
      },
      {
        "type": "text",
        "id": "my_account",
        "label": "My Account",
        "default": "My Account"
      },
      {
        "type": "text",
        "id": "my_wishlist",
        "label": "My Wishlist",
        "default": "My Wishlist"
      },
      {
        "type": "text",
        "id": "login",
        "label": "Login",
        "default": "Login"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      }
    ]
  }
{% endschema %}