<div class="product__page">
  <div class="product__page-left">
    {% assign current_variant = product.selected_or_first_available_variant %}
    {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
    <div class="product__page-image">
      <img src="{{ featured_image | img_url: 'master' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">      
    </div>

    <div class="product__page-thumbnails">
      {% for image in product.images %}
        <a href="{{ image.src | img_url: 'master' }}">
          <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
        </a>
      {% endfor %}
    </div>
  </div>

  <div class="product__page-right">
    <div class="title">
      <h1>{{ product.title }}</h1>
      <div class="product__price">
        <div class="price">{{ current_variant.price | money }}</div>
        {% if product.compare_at_price %}
          <div class="discount">{{ product.compare_at_price_max | money }}</div>
        {% endif %}
      </div>
    </div>

    <hr>

    <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">

      <div class="color__swatches">
        {% for option in product.options_with_values %}
          {% if option.name == "Color" %}
            <div class="swatches__label">
              <label for="{{ option.name }}">{{ option.name }} : </label>
              <div class="swatches__options">
                
              </div>
            </div>
          {% endif %}
        {% endfor %}

      </div>

      <div class="size__quantity">
        {% for option in product.options_with_values %}
          {% if option.name == "Size" %}
            <div class="variant__sizes">
              <div class="variant__sizes-label">
                <label for="{{ option.name }}">{{ option.name }} </label>
              </div>
              <select name="id" id="productSelect">
                {% for value in option.values %}
                  <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                    {{ value }}
                  </option>
                {% endfor %}
              </select>
            </div>
          {% endif %}
        {% endfor %}

        <div class="quantity">
          <div class="quantity__label">
            <label for="Quantity">Quantity</label>          
          </div>

          <div class="quantity__counter">
            <input type="button" onclick="decrementValue()" value="-" />          
            <input type="number" id="Quantity" name="quantity" value="1" min="1">
            <input type="button" onclick="incrementValue()" value="+" />
          </div>
        </div>        
      </div>


      {% if product.description %}
        <div class="product__description">
          <p>{{ product.description }}</p>          
        </div>
      {% endif %}

      <button type="submit" name="add" id="AddToCart">Add to cart</button>
    </form>    
  </div>
</div>

<script>
  function incrementValue() {
    let value = parseInt(document.getElementById('Quantity').value, 10);
    value = isNaN(value) ? 0 : value;
    value++;
    document.getElementById('Quantity').value = value;
  }

  function decrementValue() {
    let value = parseInt(document.getElementById('Quantity').value, 10);
    value = isNaN(value) ? 0 : value;
    if (value >= 2) {
      value--;
    }
    document.getElementById('Quantity').value = value;
  }
</script>